[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8080/
[database]
	type = h2
	database = /var/gerrit/review_site/db/ReviewDB
[index]
	type = LUCENE
[auth]
  type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
[plugins "events-log"]
	storeUrl = jdbc:h2:/var/gerrit/review_site/db/
	localStorePath = /var/gerrit/review_site/db/backup/
