[gerrit]
	basePath = git
	canonicalWebUrl = http://localhost:8088/
[database]
	type = postgresql
	database = reviewdb
	hostname = postgres
	username = gerrit2
	password = gerrit
[index]
	type = LUCENE
[auth]
	type = HTTP
	httpHeader = X-Remote-User
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = localhost
	enable = false
[container]
	user = gerrit2
	javaHome = /usr/lib/jvm/java-1.8-openjdk/jre
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[gitweb]
	cgi = /usr/share/gitweb/gitweb.cgi
